
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');


.title {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
   
    color: #e5533d;
    font-size: 65px; 
  }
  
/* Tema oscuro */
body.dark-mode {
    background: rgb(158, 125, 185);
    color: #fff; 
}

body.dark-mode .navbar {
    background-color: #5e045e18;
}

body.dark-mode .nav-links a {
    color: #fff;
}
body.dark-mode .title{
    color: #fff;
}

body.dark-mode .btn-cv {
    background-color: #ff7f43;
    color: #fff;
}

body.dark-mode .btn-cv:hover {
    background-color: #e5533d;
}
.theme-btn {
    background-color: #ff6347;
    border: none;
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.theme-btn:hover {
    background-color: #e5533d; 
}

/* Estilo del ícono dentro del botón */
.theme-btn i {
    color: white; 
    font-size: 15px; 
    transition: transform 0.3s ease;
}

.theme-btn:hover i {
    transform: scale(1.1); 
}
/*estilo del navbar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(241, 240, 240);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.logo {
    color: #ff7f43;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: rgb(255, 100, 39);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffd485; 
}

/* Estilos para el menú hamburguesa en dispositivos móviles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(250, 107, 25);
    transition: 0.3s;
   
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 50px;
        height: 100vh;
        background-color: #aaaaaa4f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
    }
}

/* menu de inicio*/
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
    margin: 0 auto;
    background-color: #29032e41;
    background-image: url("../img/fondo1.avif");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}



.column {
    flex: 1;
    padding: 20px;
}

.profile-image {
    max-width: 100%;
    border-radius: 8px;
}

.text-column h1 {
    font-size: 65px;
    margin-bottom: 20px;
    font-family: "Protest Strike", sans-serif;
    color: #5a4949;
}

.text-column p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-cv {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-cv:hover {
    background-color: #e5533d;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        text-align: center;
    }

    .text-column h1 {
        font-size: 28px;
    }

    .text-column p {
        font-size: 16px;
    }
}

/* secion sobre mii*/
.about-section {
    padding: 50px 0;
  
   
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-text {
    flex: 1;
    padding-right: 150px;
}

.about-text h2 {
    
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

body.dark-mode .about-text p {
    color: #fff;
}


.about-image {
    flex: 1;
}

.about-image img {
    max-width: 90%;
    border-radius: 10px;
   
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .about-image img {
        max-width: 80%;
        margin: 0 auto;
    }
}

/* Sección de Proyectos */
.projects-section {
    padding: 50px 0;
    text-align: center;
}

body.dark-mode .projects-section {
    background-color: #efb9ff;
}

.carousel {
    position: relative;
    max-width: 1000px; 
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.carousel-item img {
    width: 100%;
    height: 450px; 
}

.carousel-item.active {
    display: flex;
}

.project-description {
    margin-top: 10px;
    font-size: 18px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(253, 187, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

/* Sección de Contacto */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(41, 3, 46, 0); 
    color: rgb(8, 8, 8);
}

body.dark-mode footer {
    color: #ffffff;
}

.footer-contact {
    margin-bottom: 20px;
    text-align: center;
}

#contact-form {
    width: 600px;
    
}

.footer-contact h3 {
   
    
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #0077ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #29032ea6;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    margin: 0 10px;
    color: rgb(70, 5, 114);
    font-size: 24px;
}

body.dark-mode .footer-social a {
    color: #ffffff;
}

.footer-copy {
    margin-top: 20px;
    font-size: 14px;
}

/* Estilos Responsivos */
@media (max-width: 1000px) {
    .carousel {
        max-width: 90%;
    }
    
    #contact-form {
        width: 300px; 
    }
    .prev{
        display: none;
    }
    .next{
        display: none;
    }
}

@media (max-width: 600px) {
    .carousel-item img {
        height: 300px; 
    }
    
    .footer-contact h3 {
        font-size: 20px; 
    }
    
    .footer-copy {
        font-size: 12px; 
    }
    
    .form-group input, .form-group textarea, button {
        width: 100%;
    }
}
